.text {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.buttons {
    color: #ffffff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0E6B8D;
}

.brand-info {
    background-color: #f8f9fa;
    padding: 20px;
  }

.products {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    text-align: center;
}
  
.card img {
  height: 200px; 
  max-width: 80%; 
}
  
.card-body {
    text-align: center;
}
  
.btn-primary {
    width: 100%;
}