.map-container {
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%; /* Make the container take up the full width */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 50px;

    width: 800px;

    padding-left: 100px;
}

.map-label {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.map-labelA {
    background-color: #fff;
    border: solid #7ED957 5px;
    border-radius: 15px;
}

.map-labelB {
    background-color: #fff;
    border: solid #FF5757 5px;
    border-radius: 15px;
}

.map-labelC {
    background-color: #fff;
    border: solid #5271FF 5px;
    border-radius: 15px;
}

.map-labelD {
    background-color: #fff;
    border: solid #FF914D 5px;
    border-radius: 15px;
}

.map-labelE {
    background-color: #fff;
    border: solid #A27AF1 5px;
    border-radius: 15px;
}

.map-labelF {
    background-color: #fff;
    border: solid #F4D94C 5px;
    border-radius: 15px;
}

/* Adjust the top and left positions if needed */
.map-labelA, .map-labelB, .map-labelC, .map-labelD, .map-labelE, .map-labelF {
    position: relative;
}

.map-labelA p, .map-labelB p, .map-labelC p, .map-labelD p, .map-labelE p, .map-labelF p{
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 0px;
    margin: 0px;
    
}

.map-container h1, .map-container h2 {
    color: #000;
    font-family: Inter;
    text-align: center;
}

.map-container h1 {
    position: absolute;
    left: 50%;
    top: 230px;
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: 600;
}

.map-container h2 {
    font-size: 20px;
    font-weight: 700;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-img {
    margin-top: 50px;
    width: 700px;

    padding-left: 70%;
}
