.content {
    flex-grow: 1;
    padding: 20px;
    font-family: sans-serif;
  }

.header-title{
    font-family: sans-serif;
    color: #000000;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;  
}

 .grid-column {
    display: flex;
    flex-direction: column;
    
}

.stacked-boxes {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 0;
}
.grid-row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    
}



.dashboard-title{
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: black;
    margin-top: 4%;
    text-align: center;  

}

.in-out-container {
    display: flex;
    margin-left: 15%;
    align-items: center; /* Align items vertically in the center */
}


.text1 {
    margin-left: 5%; /* Remove default margins */
}

.text2 {
    margin-left: 70%; /* Remove default margins */
    margin-right: 5%;
}

.line-balance {
    align-self: center;
    height: 20px; /* Set the height of the line */
     /* Make the line span the full width */
    background-color: #000; /* Set the color of the line */
    margin: 0 ; /* Adjust the margin as needed */
}


.smallest_boxes {
    display: flex;
    width: 115%;       
    height: 35%;
    padding-bottom: 10%;        /* Adjust the padding as needed later on */
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 2%;
    border: 1px solid rgba(1, 187, 254, 0.722);
    background-color: rgba(1, 186, 254, 0.30);
    border-radius: 10px;

}

.daily_stats {
    display: flex;
    width: 70%;
    height: 100%;
    padding-bottom: 35%;        /* Adjust the padding as needed later on */
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid rgba(1, 187, 254, 0.722);
    background-color: rgba(1, 186, 254, 0.30);
    border-radius: 10px;
}

.location-icon-admin{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-self: right;
    padding-right: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* Adjust padding as needed */
    width: auto; /* Adjust the width as needed */
    height: 4%; /* Adjust the height as needed */
  }



  .view-all{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: black;
    padding-left: 20%;
    bottom: 0; 
    text-align: center;
    margin-top: 60%;

  }

  .transaction-history-container{
    display: flex;
    flex-direction: column;
    
  }

  .vertical-line {
    height: 100%; /* Make the line span the full height */
    width: 10px; /* Set the width of the vertical line */
    background-color: #000; /* Set the color of the line */
    margin: 0; /* Adjust the margin as needed */
}

.lowest_stock{
    display: flex;
    flex-direction: column;
    width:96%;       
    height: 100%;
    padding-bottom: 4%;        /* Adjust the padding as needed later on */
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid rgba(1, 187, 254, 0.722);
    background-color: rgba(1, 186, 254, 0.30);
    
}

.low-container {
    margin: 25px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}


.daily_stats {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding-bottom: 35%;        /* Adjust the padding as needed later on */
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid rgba(1, 187, 254, 0.722);
    background-color: rgba(1, 186, 254, 0.30);
    border-radius: 10px;
}
.dashboard-title-box{
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    color: black;
    margin-top: 15px;
    padding-left: 15px;
    text-align: center;  

    text-decoration: underline;
  }
