.grid-container1 {
  display: grid;
  column-gap: 7.5%;
  grid-template-columns: 60% 40%;
  
  }
  .grid-basket {
    display: grid;
    row-gap: 5%;
    grid-template-rows: 80% 20%;
    background-color: #EFEEEE;
  }

  .grid-basket-product {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 70% 30%;
    
  }
  .grid-equal {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 50% 50%;
    }

div.box {
  padding: 50px;
  padding-top: 10px;
  width: 70%;
}
  

  .text-checkout {
    text-align: left;
    font-family: Inter;
    
    
    margin-top: 0%;
    padding-top: 0%;
  }

  .text-payment {
    text-align: left;
    font-family: Inter;
    padding-left: 50px;
  }

  .checkout-form {
    position: relative;
    padding-left: 10%;
  }

  .input-field-checkout {
    height: 35px;
    width: 90%;
    padding-left: 10%;
    box-sizing: border-box; 
    border-radius: 20px;
    padding-top: 0%;
    margin-bottom: 30px;
    margin-right: 20%;
  }

  .input-field-shorter {
    height: 35px;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box; 
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 20%;
  
  }

  .checkout-container {
    display: flex;
    width: 90%;
    align-items: center; /* Align items vertically in the center */
  }

  hr.solid { 
    border-top:3px solid #0E6B8D;
    }

  hr.solid-small { 
      border-top:1px solid #0E6B8D;
      margin: 5%;
      margin-top: 0%;
      
    }

    .button-checkout {
      align-content: last baseline;
      color: #ffffff;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #0E6B8D;
      font-size: 18px;
      font-family: Inter;
      height: 20%;
      width: auto;
      
    }

    .center-items {
      display: flex;
      justify-content: center;
      align-items: center;
      height: max-content;
    
    }

    .container-payment {
      width: 100%; /* Adjust the width of your container as needed */
      display: flex;
      justify-content: flex-end; /* Align items to the end (right) of the container */
      padding: 10px; /* Add padding as needed */
    }
  
.checkout-button {
  background-color: #0E6B8D;
  height: 50px;
  width: 200px;

  border-radius: 10px;

  margin-left: 100px;
  margin-bottom: 100px;
  
  width: 190px;
  height: 62px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  border: 0px;
  border-radius: 7px;
  background-color: #0E6B8D;

  /* Transition for a smooth hover effect */
  transition: background-color 0.3s ease-in-out;
}

.invoice-1 {
  position: relative;
  top: -150px;
  left: -250px;

}

.form-container1 {
  width: 50%;
}

.error-message {
  color: red;
  margin-top: 10px;
}
