.daily-sales-report {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 85%; /* Adjust width as needed */
  padding: 20px;
}

.location-icon-admin-dashboard {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-self: right;
  padding-right: 7%;
  padding-top: 15px;
  padding-bottom: 15px;
  /* Adjust padding as needed */
  width: auto; /* Adjust the width as needed */
  height: 40%; /* Adjust the height as needed */
}

.daily-sales-report-table {
  width: 100%;
  border-collapse: collapse;
}

.daily-sales-report-table th,
.daily-sales-report-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.total-sales {
  text-align: right;
  margin-top: 20px;
  font-size: 20px; /* Adjust size as needed */
}

/* Additional styles to match the screenshot provided */
.daily-sales-report-table th {
  background-color: #3498DB;
  color: white;
}

.daily-sales-report-table td {
  background-color: #D6EAF8;
}
