.login-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 672px;
    height: 770px;

    border-radius: 10px;
    border: 2px solid #000;

    background: #8e3d3d;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container img {
    padding: 25px;
    margin: 0px;
    width: 424px;
    height: auto;
    flex-shrink: 0;
}

.login-container input {
    padding: 0px;
    margin: 0px;

    width: 502px;
    height: 44px;
    flex-shrink: 0;

    border-radius: 10px;

    padding-left: 10px; /* Adjust the padding as needed */
    margin-bottom: 20px;

    color: #000;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-container h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    margin: 0;

    width: 182px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start; /* Align to the left edge */

    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-container button {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 35px;

    width: 502px;
    height: 63px;
    flex-shrink: 0; 
        
    border-radius: 9px;
    border: 1px solid #000;
    background: rgba(1, 186, 254, 0.40);
}

.login-container h5 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

/* Apply styles to the placeholder text */
input::placeholder {
    font-size: 18px; /* Adjust the font size as needed */
    font-family: Inter, sans-serif; /* Replace 'Your Desired Font' with the actual font you want to use */
    /* Add any other styles you want to apply */
  }
  
.login-container button:active {
    background-color: #2980b9; /* Change the background color when the button is clicked */
}