.prod-cat {
    position: relative;
    left: 200px;
    top: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.product-container {
    width: 275px; 
    height: 278px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 1);
}

.item1 {
    position: relative;
}

.item-info {
    text-align: center;
}

.item-info h3 {
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item-info h4 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.item-info p {
    color: #000;
    margin-top: 00px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item-info button {
    width: 191px;
    height: 32px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #0E6B8D;
}
