
body {
    width: 100%; /* Set the initial width to 100% */
    margin: 0 auto; /* Center the content */
  }
  
.App {
    width: auto;
    max-width: 100%; /* Set the default maximum width to 100% */
    margin: auto;
}
  

.AdminLayout {
    display: flex;
    margin: 0;
}

.AdminNavbar {
    width: 25%;
    min-width: 200px;
    
}

.AdminPages {
    flex: 1;
    
}

.scrollable {
    overflow: auto;
    height: 100vh;
    width: auto;
}