.App {
    width: auto;
    max-width: 1980px;
    margin: auto;

    overflow: hidden;
}
body {
    overflow-x: hidden;
}

.AdminLayout {
    display: flex;
    margin: 0;
}

.AdminNavbar {
    width: 25%;
    min-width: 200px;
    
}

.AdminPages {
    flex: 1;
    
}

.scrollable {
    overflow: auto;
    height: 100vh;
    width: auto;
}