.App {
    max-width: 1980px;
    margin: auto;
}

.AdminLayout {
    display: flex;
    margin: 0;
}

.AdminNavbar {
    width: 25%;
    
}

.AdminPages {
    flex: 1;
    
}

.scrollable {
    overflow: auto;
    height: 100vh;
    width: auto;
}